.heading {
    size: 100%;
    text-transform: uppercase;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}